/*	CSS Reset
---------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.screen-reader-text{  }



/*	Typhography
---------------------------------------------------*/
	body{ font-size:14px; line-height:1.5; font-family:Arial, Helvetica, sans-serif; color:#666; margin:0; padding:0; }
	
	h1, h2, h3, h4, h5, h6{ letter-spacing: 0.02em; line-height: 1.4; font-weight:normal; }
		 
	h1 { font-size: 48px; line-height: 54px; margin-bottom:20px; font-weight: normal; }
	h2 { font-size: 34px; line-height: 40px; margin-bottom: 20px; }
	h3 { font-size: 24px; line-height: 30px; margin-bottom: 10px; font-weight:bold; }
	h4 { font-size: 18px; line-height: 22px; font-weight:bold; margin-bottom:15px; }
	h5 { font-size: 16px; line-height: 22px; }
	h6 { font-size: 15px; line-height: 24px; }

    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{ font-size: 60%; line-height: 0; }

    .title{ margin-bottom: 8px; line-height: 18px; }

    .post-title{ text-transform: uppercase; }

    p{ margin-bottom: 20px;}
    * p:last-child{ margin-bottom: 0 !important; }

    strong{ font-weight: 600; font-weight: 700;}
    em{ font-style: italic; }
    small{ font-size: 80%; }
	
	pre{
		height: auto;
		font-family: Consolas, monospace;
		border: 1px solid #e2e2e2;
		background: #f7f7f7;
		padding: 10px 20px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		margin: 0 0 20px 0;
		overflow-x: auto;
	}
	
	blockquote{
		border-left: 3px solid;
		padding: 25px 25px;
		margin-bottom:20px;
	}


/* Links
================================================== */   
    a{ text-decoration:none; }
	a:hover{ text-decoration:underline; }
    a img{ border: none; }
    a > img{ vertical-align: bottom; }
    p a, p a:visited{ line-height: inherit; }
    
    
/* FORM
================================================== */
    input, select, textarea{
        border:0; 
		padding:12px; 
		font-size:1em; 
		font-family:Arial, sans-serif; 
		border:solid 1px; 
		max-width: 100%;
		width: 100%;
		
		-webkit-border-radius: 3px; 
		   -moz-border-radius: 3px; 
			    border-radius: 3px;

        -webkit-box-sizing: border-box; 
           -moz-box-sizing: border-box; 
                box-sizing: border-box; 
    }
	
	input[type="submit"],
	button[type="submit"],
	input[type="button"]{
		border:none;
		padding:8px 14px; 
		margin:0 0 20px; 
		font-size:1em;
		width:auto;
		cursor:pointer;
		
		-webkit-border-radius: 3px; 
		   -moz-border-radius: 3px; 
			    border-radius: 3px;
	}

	input[type="checkbox"],
	input[type="radio"]{
		width:auto; display:inline-block;
	}
    
    
    
/* IMAGES
================================================== */
    img{ max-width: 100%; height: auto; margin-bottom: -6px; }
    img.no-scale{ max-width: none; }

    img.alignleft{ margin-right: 25px; }
    img.alignright{ margin-left: 25px; }
    img.aligncenter{ margin-bottom: 25px; }
    
   
    
/* LISTS
================================================== */


    ul, ol, dl{ margin-bottom: 20px; list-style-position: outside; }

    ul ul, ul ol{ margin-left: 20px; margin-bottom: 0; }
    ul.square, ul.circle, ul.disc, ul.numeric{ margin-left: 17px; }
    ul.square{ list-style-type: square; }
    ul.square ul{ list-style: inherit; }
    ul.circle{ list-style-type: circle; }
    ul.circle ul{ list-style: inherit; }
    ul.disc{ list-style-type: disc; }
    ul.disc ul{ list-style: inherit; }
    ul.numeric{ list-style-type: decimal; }
    ul.numeric ul{ list-style: inherit; }
    ul.large li{ line-height: 25px; }
    ol{ margin-left: 20px; }
    ol li ul, ol li ol{ margin-left: 20px; margin-bottom: 0; }

    .onordered li{ margin-bottom: 5px; }

    .unstyled > li{ margin-bottom: 7px; }
    
      
/* Media
================================================== */  
iframe{ width: 100%; }
.tally-embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.tally-embed-container iframe, 
.tally-embed-container object, 
.tally-embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    
    
/* Columns
================================================== */
	.col-holder{ width:100%; margin-bottom:40px; *zoom: 1; }
	.col-holder:before,
	.col-holder:after { display: table; content: ""; line-height: 0; }
	.col-holder:after { clear: both; }
	.col-holder.nomargin { margin-bottom:0 !important; }
	.col-holder .col{  
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.857142857142857%;
  		*margin-left: 2.8095238095238098%; 
	}
	.col-holder .col:first-child{ margin-left:0; }
	.col-holder .col_1{  width: 5.714285714285714%; *width: 5.666666666666667%; }
	.col-holder .col_2{  width: 14.285714285714286%; *width: 14.238095238095239%; }
	.col-holder .col_3{  width: 22.857142857142858%; *width: 22.80952380952381%; }
	.col-holder .col_4{  width: 31.42857142857143%; *width: 31.380952380952383%; }
	.col-holder .col_5{  width: 40%; *width: 39.95238095238095%; }
	.col-holder .col_6{  width: 48.57142857142857%; *width: 48.52380952380952%; }
	.col-holder .col_7{  width: 57.14285714285714%; *width: 57.09523809523809%; }
	.col-holder .col_8{  width: 65.71428571428572%; *width: 65.66666666666667%; }
	.col-holder .col_9{  width: 74.28571428571429%; *width: 74.23809523809524%; }
	.col-holder .col_10{ width: 82.85714285714286%; *width: 82.80952380952381%; }
	.col-holder .col_11{ width: 91.42857142857143%; *width: 91.38095238095238%; }
	.col-holder .col_12{ width: 100%;  *width: 99.95238095238095%; }
	.col-holder .col_one_5{ width: 17.14%; }
	
	
	.cl_holder{ margin-left:-3%; }
	.cl{ margin-left:3%; float:left; margin-bottom:3%; }
	.cl_1{ width:97%; }
	.cl_2{ width:47%; }
	.cl_3{ width:30.33333%; }
	.cl_4{ width:22%; }
	.cl_5{ width:17%; }
	.cl_6{ width:13.66666%; }
	
	
	.cl24-holder{ width:100%; margin-bottom:40px; *zoom: 1; }
	.cl24-holder:before,
	.cl24-holder:after { display: table; content: ""; line-height: 0; }
	.cl24-holder:after { clear: both; }
	.cl24-holder.nomargin { margin-bottom:0 !important; }
	.cl24-holder .col{  
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2%;
	}
	.cl24-holder .col:first-child{ margin-left:0; }
	.cl24-holder .col_1 { width: 2.25%; }
    .cl24-holder .col_2 { width: 6.5%; }
    .cl24-holder .col_3 { width: 10.75%; }
    .cl24-holder .col_4 { width: 15.0%; }
    .cl24-holder .col_5 { width: 19.25%; }
	.cl24-holder .col_one_5 { width: 18.4%; }
    .cl24-holder .col_6 { width: 23.5%; }
    .cl24-holder .col_7 { width: 27.75%; }
    .cl24-holder .col_8 { width: 32.0%; }
    .cl24-holder .col_9 { width: 36.25%; }
    .cl24-holder .col_10 { width: 40.5%; }
    .cl24-holder .col_11 { width: 44.75%; }
    .cl24-holder .col_12 { width: 49.0%; }
    .cl24-holder .col_13 { width: 53.25%; }
    .cl24-holder .col_14 { width: 57.5%; }
    .cl24-holder .col_15 { width: 61.75%; }
    .cl24-holder .col_16 { width: 66.0%; }
    .cl24-holder .col_17 { width: 70.25%; }
    .cl24-holder .col_18 { width: 74.5%; }
    .cl24-holder .col_19 { width: 78.75%; }
    .cl24-holder .col_20 { width: 83.0%; }
    .cl24-holder .col_21 { width: 87.25%; }
    .cl24-holder .col_22 { width: 91.5%; }
    .cl24-holder .col_23 { width: 95.75%; }
    .cl24-holder .col_24 { width: 100%; }
    
    
    @media only screen and (max-width: 768px) {	
        .col-holder .col{ margin-left:0; }
        .col-holder .col_1,
        .col-holder .col_2,
        .col-holder .col_3,
        .col-holder .col_4,
        .col-holder .col_5,
        .col-holder .col_6,
        .col-holder .col_7,
        .col-holder .col_8,
        .col-holder .col_9,
        .col-holder .col_10,
        .col-holder .col_11,
        .col-holder .col_12{ width: 100%; *width: 99.94680851063829%; margin-bottom:30px; }
        
        .cl_holder{ margin-left:0; }
        .cl{ margin-left:0; float:left; margin-bottom:30px; }
        .cl_1,
        .cl_2,
        .cl_3,
        .cl_4,
        .cl_5,
        .cl_6{ width: 100%; *width: 99.94680851063829%; }
	}
    
    
    
/* wordpress require
================================================== */
	.alignleft {display: inline; float: left; margin-right: 1.625em; margin-bottom:1em;}
	.alignright {display: inline;float: right;margin-left: 1.625em;  margin-bottom:1em;}
	.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
		
	.wp-caption {margin-top: 0.4em;}
	.wp-caption {margin-bottom: 1.625em;max-width: 96%;padding: 9px;}
	.wp-caption img {display: block;margin: 0 auto;max-width: 98%;}
	.wp-caption .wp-caption-text, .gallery-caption { font-family: Georgia, serif;font-size: 12px;}
	.wp-caption .wp-caption-text {margin-bottom: 0.6em;padding: 10px 0 5px 40px;position: relative;}
	.wp-caption .wp-caption-text:before {color: #666;content: '\2014';font-size: 14px;font-style: normal;font-weight: bold;margin-right: 5px;position: absolute;left: 10px; top: 7px; }
	.sticky{ background:#f1f1f1; padding:25px;  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}	
    
    
/* OTHER
================================================== */
	.clear{ height:0px; width:100%; margin:0; padding:0; clear:both; }
	
	.responsive-table{
		height: auto;
		overflow-x: auto;
	}
	
	#lean_overlay {
		position: fixed;
		z-index:100;
		top: 0px;
		left: 0px;
		height:100%;
		width:100%;
		background: #000;
		display: none;
	}
	
	.align-left{ display:inline-block; float:left; }
	.align-right{ display:inline-block; float:right; }
	.align-center{ display:inline-block; text-align:center; }
	.text-align-center{ text-align:center; }
	.text-align-left{ text-align:left; }
	.text-align-right{ text-align:right; }
    
    *:before, *:after {
      box-sizing: border-box;
    }
    * {
  box-sizing: border-box;
}
    
    
    
/* Layout
================================================== */
	.site_content_width{ width:92%; margin:0 auto; max-width:1100px; }
	
	#site-header{  }
	#site-header-inner {  }
		#topbar{  }
			#topbar #topbar-inner{  }
		#header{  }
			#header #header-inner{  }
		#subheader{  }
			#subheader #subheader-inner{  }
	
	#site-main{ padding-top:50px; padding-bottom:50px; }
	#site-main-inner{  }
		#page-content{  }
			#page-content-inner{  }
		#sidebar{  }
			#sidebar-inner{  }
			
	
	/* Sidebar layout
	--------------------*/
	.sidebar-left #page-content{ width:70%; float:right; }
	.sidebar-left #sidebar{ width:27%; float:left; }
	
	.sidebar-right #page-content{ width:70%; float:left; }
	.sidebar-right #sidebar{ width:27%; float:right; }
    
    
    
    
/*~~~~~~~~~~~ Responsive Menu ~~~~~~~~~~~*/
.responsive-menu{ position: absolute; width: 100%; top: 50px; left: 0; }
a.responsive-menu-hand{ 
	color: inherit;
	/* border: solid 3px #676b6f; */

	/* padding: 2px 5px 0px 5px; */
	font-size: 40px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	display: inline-block;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: center;
    display: none;
}
.responsive-menu ul.menu{ margin:0; padding:0; list-style-type:none; width:90%; border:solid 1px #E9EDF1; border-bottom:0; margin-left:5%; display:none; }
.responsive-menu ul.menu li{ margin:0; padding:0; list-style-type:none; position:relative; }
.responsive-menu ul.menu li a{ color:inherit; line-height: 40px; height: 40px; padding-left:10px; border-bottom:solid 1px #E9EDF1; background-color: #FCFCFC; display:block; }
.responsive-menu ul.menu li a:hover{ text-decoration:none; background-color: #E9EDF1; }
.responsive-menu ul.menu li i{
	height: 40px;
	width: 40px;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-size: 30px;
    border-left:solid 1px #E9EDF1;
}
.responsive-menu ul.menu li ul{ margin:0; }

.responsive-menu ul.menu li ul li a{ font-size:90%; padding-left:20px; border-bottom:solid 1px #DADADA; background-color: #F0F0F0; }
.responsive-menu ul.menu li ul li ul li a{ font-size:80%; padding-left:30px; border-bottom:solid 1px #BABABA; background-color: #E4E4E4 ; }





/* wordpress Widgets
================================================== */
	.widget_meta ul,
	.widget_pages ul,
	.widget_nav_menu ul,
	.widget_recent_entries ul,
	.widget_archive ul,
	.widget_categories ul,
	.widget_recent_comments ul{ margin-left:0px !important; list-style-type:none; }
	
	.widget_meta ul ul.children,
	.widget_pages ul ul.children,
	.widget_nav_menu ul ul.children,
	.widget_recent_entries ul ul.children,
	.widget_archive ul ul.children,
	.widget_categories ul ul.children,
	.widget_recent_comments ul ul.children{ margin-left:20px !important; }
	
	.widget_meta ul ul.children li:last-child,
	.widget_pages ul ul.children li:last-child,
	.widget_nav_menu ul ul.children li:last-child,
	.widget_recent_entries ul ul.children li:last-child,
	.widget_archive ul ul.children li:last-child,
	.widget_categories ul ul.children li:last-child,
	.widget_recent_comments ul ul.children li:last-child{ border-bottom:0; }
	
	.widget_recent_comments ul#recentcomments{ margin-left:0px !important;}
	
	.widget_meta ul li,
	.widget_pages ul li,
	.widget_nav_menu ul li,
	.widget_recent_entries ul li,
	.widget_archive ul li,
	.widget_categories ul li,
	.widget_recent_comments ul li{ margin:0; padding:0; border-bottom:solid 1px; padding-bottom:7px; padding-top:7px; display:block; }
	
	.widget_meta ul li:before,
	.widget_pages ul li:before,
	.widget_nav_menu ul li:before,
	.widget_recent_entries ul li:before,
	.widget_archive ul li:before,
	.widget_categories ul li:before,
	.widget_recent_comments ul li:before{ 
		display: inline-block; 
		font-family: FontAwesome; 
		font-size:120%; 
		margin-right:7px; 
		content: "\f105"; 
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; 
	}
	
	.widget_meta ul li a,
	.widget_pages ul li a,
	.widget_nav_menu ul li a,
	.widget_recent_entries ul li a,
	.widget_archive ul li a,
	.widget_categories ul li a,
	.widget_recent_comments ul li a{ text-decoration:none; }
	
	.widget_meta ul li a:hover,
	.widget_pages ul li a:hover,
	.widget_nav_menu ul li a:hover,
	.widget_recent_entries ul li a:hover,
	.widget_archive ul li a:hover,
	.widget_categories ul li a:hover,
	.widget_recent_comments ul li a:hover{  }
	
	.widget_nav_menu ul li ul.sub-menu li:before{
		display: inline-block;
		font-family: FontAwesome;
		font-size: 70%;
		margin-right: 7px;
		margin-left:10px;
		content: "\f10c";
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.widget_nav_menu ul li ul.sub-menu li:last-child{ border-bottom: solid 0px; margin-bottom: 0px; padding-bottom: 0px; }
	
	/*--- Archives ---*/
	.widget_archive ul li:before { content: "\f073"; }
	
	/*--- Post List ---*/
	.widget_recent_entries ul li:before { content: "\f016"; }
	
	/*--- Rss ---*/
	.widget_rss ul li:before { content: "\f09e"; }
	
	/*--- Categories ---*/
	.widget_categories ul li:before { content: "\f07b"; }
	
	/*-- -recent Comments ---*/
	.widget_recent_comments ul li:before { content: "\f086"; }
	
	
	/*-- -buddypress members widge ---*/
	.buddypress.widget ul.item-list{
		margin-left:0px !important;
	}


	/*--Tags ----*/
	.tagcloud a {
		padding:2px 9px 2px 9px; 
		font-weight:400; 
		margin: 0px -2px 2px 0px; 
		display:inline-block;  
		-moz-transition:.8s linear; 
		-webkit-transition:.8s ease-out; 
		transition:.8s linear; 
		font-size:12px !important;
	}
	.tagcloud a:hover {
		-moz-transition:.01s linear; 
		-webkit-transition:.01s ease-out; 
		transition:.01s linear;
	}
	
	
	/*--calendar ----*/
	.widget_calendar table#wp-calendar { width:100%;}
	.widget_calendar table td {border:none}
	.widget_calendar table#wp-calendar>tbody>tr>td>a {}
	.widget_calendar table#wp-calendar>tbody>tr>td>a:hover {background:none;}
	.widget_calendar table#wp-calendar caption {font-size:14px; text-align:left;}
	.widget_calendar thead>tr>th {width:14.2857%; padding:5px 0px 6px 0px; text-align:center; border:1px solid; font-weight:bold; color:inherit;}
	.widget_calendar tbody>tr>td {width:14.2857%; padding:5px 0px 6px 0px; text-align:center; border:1px solid; }
	.widget_calendar tfoot>tr>td>a, tfoot>tr>td>a:link, tfoot>tr>td>a:visited, tfoot>tr>td>a:hover, tfoot>tr>td>a:active {height:20px;}
	.widget_calendar tfoot>tr>td#prev {width:58px; height:20px; text-align:left; border:none; background:none;}
	.widget_calendar tfoot>tr>td#next {width:58px; height:20px;	text-align:right; border:none; background:none;}
	.widget_calendar tfoot>tr>td#prev a:hover, tfoot>tr>td#next a:hover {background:none;}
	
	
	/*--Search Form -----*/
	.widget_search{ clear:both; }
	.widget_search input[type="text"]{ 
		-moz-border-radius:    4px 0px 0px 4px; 
		-webkit-border-radius: 4px 0px 0px 4px; 
		border-radius:         4px 0px 0px 4px;
		float:left;
		padding: 0;
		outline: none;
		margin: 0;
		width: 65% !important;
		display: block;
		margin-bottom: 0px;
		height: 30px;
		border-right:0;
	}
	.widget_search label{ display:none; }
	.widget_search input[type="submit"]{
		-moz-border-radius:    0px 4px 4px 0px; 
		-webkit-border-radius: 0px 4px 4px 0px; 
		border-radius:         0px 4px 4px 0px; 
		float:left;
		border:none;
		width:30%;
		margin:0;
		padding:0;
		padding: 0;
		cursor:pointer;
        height: 30px;
	}
	.widget_search input[type="submit"]:hover {
		opacity:0.7;
		-moz-transition:.8s linear; 
		-webkit-transition:.8s ease-out; 
		transition:.8s linear; 
	}
    
    
    
.tally_home_section{
	clear: both;
	width: 100%;
}
.tally_home_section_inner{
	width: 92%;
	margin: 0 auto;
	max-width: 1100px;
}    .tally_home_section_heading.thsh_type_one{ margin: 0 auto; width: 80%; margin-bottom: 60px; }
    .tally_home_section_heading.thsh_type_one:after{ content:" "; width: 50px; border-bottom: 3px solid; display: inline-block; margin-top: 20px; }
    .tally_home_section_heading.thsh_type_one.thsh_align_left{ text-align:left; }
    .tally_home_section_heading.thsh_type_one.thsh_align_right{ text-align:right; }
    .tally_home_section_heading.thsh_type_one.thsh_align_center{ text-align:center; }
    .tally_home_section_heading.thsh_type_one .thsh_inner{  }
    .tally_home_section_heading.thsh_type_one h2{ text-transform: uppercase; font-weight: bold; }
    .tally_home_section_heading.thsh_type_one p{ font-size: 17px; }
    /* Reset
-----------------------*/
.thbs_flexslider .tfs-container a:hover,
.thbs_flexslider .tfs-slider a:hover,
.thbs_flexslider .tfs-container a:focus,
.thbs_flexslider .tfs-slider a:focus { outline: none; }
.thbs_flexslider .slides,
.thbs_flexslider .slides > li,
.thbs_flexslider .tfs-control-nav,
.thbs_flexslider .tfs-direction-nav { margin: 0; padding: 0; list-style: none;}
.thbs_flexslider .tfs-pauseplay span { text-transform: capitalize; }



/* Slider style
-----------------------*/
.thbs_flexslider { background: #ffffff; position: relative; zoom: 1; overflow: hidden; }
.thbs_flexslider .slides { zoom: 1; }
.thbs_flexslider .slides img { height: auto; }
.thbs_flexslider .slides li{ position: relative; }
.thbs_flexslider .tfs-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.thbs_flexslider .loading .tfs-viewport { max-height: 300px; }
.thbs_flexslider .tfs-direction-nav { *height: 0; }
.thbs_flexslider .tfs-direction-nav a {
	text-decoration: none;
	display: block;
	width: 40px;
	height: 40px;
    line-height: 40px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: #fff;
	background-color:rgba(0,0,0,0.9);
	border-radius: 100%;
	font-size: 0;
    text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.thbs_flexslider .tfs-direction-nav a:before {
	font-family: "FontAwesome";
	font-size: 20px;
	display: inline-block;
	content: '\f104';
	color: #fff;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.thbs_flexslider .tfs-direction-nav a.tfs-next:before { content: '\f105'; }
.thbs_flexslider .tfs-direction-nav .tfs-prev { left: -50px; }
.thbs_flexslider .tfs-direction-nav .tfs-next { right: -50px; }
.thbs_flexslider:hover .tfs-direction-nav .tfs-prev { opacity: 0.7; left: 10px; }
.thbs_flexslider:hover .tfs-direction-nav .tfs-prev:hover { opacity: 1; }
.thbs_flexslider:hover .tfs-direction-nav .tfs-next { opacity: 0.7; right: 10px; }
.thbs_flexslider:hover .tfs-direction-nav .tfs-next:hover { opacity: 1; }
.thbs_flexslider .tfs-direction-nav .tfs-disabled { opacity: 0!important; filter: alpha(opacity=0); cursor: default; }
.thbs_flexslider .tfs-control-nav { width: 100%; position: absolute; bottom: 20px; text-align: center; opacity: 0; }
.thbs_flexslider:hover .tfs-control-nav { opacity: 1;  }
.thbs_flexslider .tfs-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.thbs_flexslider .tfs-control-paging li a {
	width: 14px;
	height: 14px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: solid 2px #fff;
}
.thbs_flexslider .tfs-control-paging li a:hover { background: #333; background: rgba(0, 0, 0, 0.7); }
.thbs_flexslider .tfs-control-paging li a.tfs-active {background: #000; background: rgba(0, 0, 0, 0.9); cursor: default;}



/* Caption Style
-----------------------*/
.thbs_flexslider .thbs_caption{
	position: absolute;
	z-index: 999;
	margin: auto;
	top: 0; 
    left:0%;
    height: 100%;
    width: 100%;
}
.thbs_flexslider .thbs_caption_inner{
	 text-align: center;
     height: 100%;
}
.thbs_flexslider .thbs_caption_inner span {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.thbs_flexslider .thbs_caption_content{
	margin: 0;        
    vertical-align: middle;
    display: inline-block; 
	position: relative;
    width: 70%;
}

.thbs_flexslider .thbs_caption .thbs_title{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff !important;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	margin-bottom: 20px;
}
.thbs_flexslider .thbs_caption .thbs_des{
	font-size: 20px;
	color: #fff;
	line-height: 1.5;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    margin-bottom: 0;
}
.thbs_flexslider .thbs_caption .thbs_more{
	border: solid 2px #fff !important;
	padding: 10px 30px;
	border-radius: 5px;
	color: #fff !important;
	margin-top: 20px;
	display: inline-block;
}
.thbs_flexslider .thbs_caption .thbs_more:hover{ text-decoration:none; }



/* Caption Animation
-----------------------*/
.thbs_flexslider .thbs_caption .thbs_title{
    transition-property: margin-top;
	transition-duration: 1.1s;
	transition-timing-function: linear;
	margin-top: -1000px;
}
.thbs_flexslider .tfs-active-slide .thbs_caption .thbs_title{
	margin-top: 0;
}

.thbs_flexslider .thbs_caption .thbs_des{
    transition-property: margin-left;
	transition-duration: 1.3s;
	transition-timing-function: linear;
	margin-left: -1000px;
}
.thbs_flexslider .tfs-active-slide .thbs_caption .thbs_des{
	margin-left: 0;
}

.thbs_flexslider .thbs_caption .thbs_more{
    transition-property: margin-right;
	transition-duration: 1.5s;
	transition-timing-function: linear;
	margin-right: -1000px;
}
.thbs_flexslider .tfs-active-slide .thbs_caption .thbs_more{
	margin-right: 0;
}



/* Base Style
-----------------------*/
.thbs_flexslider { margin: 0; padding: 0; }
.thbs_flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.thbs_flexslider .slides img { width: 100%; display: block; }
.thbs_flexslider .slides:after {content: "\0020";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .thbs_flexslider .slides {display: block;}
* html .thbs_flexslider .slides {height: 1%;}
.no-js .thbs_flexslider .slides > li:first-child {display: block;}



/* Responsive
-----------------------*/
@media screen and (max-width: 900px) {  
    .thbs_flexslider .thbs_caption .thbs_title{ font-size: 30px; }
    .thbs_flexslider .thbs_caption .thbs_des{ font-size: 15px; }
}
@media screen and (max-width: 670px) {  
    .thbs_flexslider .thbs_caption .thbs_title{ font-size: 20px; }
    .thbs_flexslider .thbs_caption .thbs_des{ font-size: 12px; }
}
@media screen and (max-width: 550px) {  
    .thbs_flexslider .thbs_caption .thbs_title{ font-size: 15px; }
    .thbs_flexslider .thbs_caption .thbs_des{ display: none; }
    .thbs_flexslider .thbs_caption .thbs_more{ display: none; }
}

.tally_homeBlock_infoBox.thBi_skin1{
	padding: 25px;
	background-color: #58bad8;
	color: #fff;
    -moz-transition:.8s linear; 
	-webkit-transition:.8s ease-out; 
	transition:.8s linear;
}
.tally_homeBlock_infoBox.thBi_skin1:hover{
	background-color: #009cea;
}
#site-main .tally_homeBlock_infoBox.thBi_skin1 .thbib_title{
	font-weight: normal;
	font-size: 24px;
    line-height: 20px
	margin-bottom: 15px;
}
#site-main .tally_homeBlock_infoBox.thBi_skin1 .thbib_title i.fa{
	color: #fff;
	font-size: 110%;
}
#site-main .tally_homeBlock_infoBox.thBi_skin1 .thbib_title a{
	color: #fff;
}
#site-main .tally_homeBlock_infoBox.thBi_skin1 .thbib_title a:hover{
	text-decoration: none;
}
#site-main .tally_homeBlock_infoBox.thBi_skin1 .thbib_more{
	color: #fff;
    border:solid 1px #fff;
    padding: 5px 15px;
	display: inline-block;
	margin-top: 20px;
}
#site-main .tally_homeBlock_infoBox.thBi_skin1 .thbib_more:hover{
	text-decoration: none;
}.tally_homeBlock_text.thbt_skin1.thbt_align_left{
	text-align:left;
}
.tally_homeBlock_text.thbt_skin1.thbt_align_right{
	text-align:right;
}
.tally_homeBlock_text.thbt_skin1.thbt_align_center{
	text-align:center;
}
.tally_homeBlock_text.thbt_skin1 .thbt_title{
	margin-bottom: 30px;
	color: #596971;
	font-weight: 700;
	font-size: 48px;
    line-height:1.2;
}
.tally_homeBlock_text.thbt_skin1 .thbt_subtitle{
	margin-bottom: 20px;
	color: #29b8d3;
	font-weight: 400;
	display: inline-block;
	margin-top: 10px;
}
.tally_homeBlock_text.thbt_skin1 .thbt_des{
	font-size: 120%;
}
.tally_homeBlock_text.thbt_skin1 .thbt_more{
	display: inline-block;
	padding: 12px 25px;
	background-color: #fd7062;
	color: #fff !important;
	margin-top: 30px;
	border-radius: 3px;
}
.tally_homeBlock_text.thbt_skin1 .thbt_more:hover{
	text-decoration: none;
}.tally_homeBlock_testimonial.thbt_skin1{
	width: 100%;
	display: block;
	clear: both;
	margin-bottom: 40px;
}
.tally_homeBlock_testimonial.thbt_skin1 .thbt_info{
	float: left;
	margin-right: 30px;
	text-align: center;
}
.tally_homeBlock_testimonial.thbt_skin1 .thbt_info img{
	width: 120px;
	border-radius: 100%;
	border: solid 7px #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.tally_homeBlock_testimonial.thbt_skin1 .thbt_info p{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 1px;
	margin-top: 10px;
}
.tally_homeBlock_testimonial.thbt_skin1 .thbt_info p a{
	color: inherit !important;
}
.tally_homeBlock_testimonial.thbt_skin1 .thbt_info span{
	display: block;
	color: #BDBBBB;
	font-size: 13px;
	font-style: italic;
}
.tally_homeBlock_testimonial.thbt_skin1 .thbt_info i.fa{
	font-size: 15px;
	margin-top: 10px;
}
.tally_homeBlock_testimonial.thbt_skin1 .thbt_content{
	overflow: hidden;
}.tally_homeBlock_blogGrid.thbbg_column_1 .thbbg_item{ width:100%; }
.tally_homeBlock_blogGrid.thbbg_column_2 .thbbg_item{ width:50%; }
.tally_homeBlock_blogGrid.thbbg_column_3 .thbbg_item{ width:33.333%; }
.tally_homeBlock_blogGrid.thbbg_column_4 .thbbg_item{ width:25%; }
.tally_homeBlock_blogGrid.thbbg_column_5 .thbbg_item{ width:20%; }

.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item_inner{ margin:15px; background-color:#ffffff; border:solid 1px;}
#site-main .tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item_inner{ border-color:#f3f3f3 !important;}
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item:hover img{ opacity: 0.5; }
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item .thbbg_item_content{ padding:25px; }
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item h4 a{ color: inherit !important; }
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item h4 a:hover{ color:#fd7062 !important; text-decoration:none; }
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item_more{ 
	font-size: 12px;
	padding: 7px 12px 7px 12px;
	background-color: #f3f3f3;
	display: inline-block;
	text-transform: uppercase;
    color: inherit !important;
}
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_item_more:hover{ text-decoration:none; background-color:#fd7062; color: #fff !important; }
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_moreBlog{ display:block; text-align: center; margin-top: 40px; }
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_moreBlog span{
	font-size: 14px;
	padding: 15px 40px 15px 40px;
	background-color: #fd7062;
	display: inline-block;
	text-transform: uppercase;
    color:#fff;
	border-radius: 4px;
	font-weight: bold;
}
.tally_homeBlock_blogGrid.thbbg_skin1 .thbbg_moreBlog span:hover{ background-color: #58bad8; }


/* Responsive
-----------------------*/
@media screen and (max-width: 1100px) {
	.tally_homeBlock_blogGrid.thbbg_column_5 .thbbg_item{ width:25%; }
    .tally_homeBlock_blogGrid.thbbg_column_4 .thbbg_item{ width:33.33%; }
}
@media screen and (max-width: 960px) {
	.tally_homeBlock_blogGrid.thbbg_column_5 .thbbg_item{ width:33.33%; }
}
@media screen and (max-width: 768px) {
	.tally_homeBlock_blogGrid.thbbg_column_2 .thbbg_item{ width:50%; }
	.tally_homeBlock_blogGrid.thbbg_column_3 .thbbg_item{ width:50%; }
	.tally_homeBlock_blogGrid.thbbg_column_4 .thbbg_item{ width:50%; }
	.tally_homeBlock_blogGrid.thbbg_column_5 .thbbg_item{ width:50%; }
}
@media screen and (max-width: 480px) {
	.tally_homeBlock_blogGrid.thbbg_column_2 .thbbg_item{ width:100%; }
	.tally_homeBlock_blogGrid.thbbg_column_3 .thbbg_item{ width:100%; }
	.tally_homeBlock_blogGrid.thbbg_column_4 .thbbg_item{ width:100; }
	.tally_homeBlock_blogGrid.thbbg_column_5 .thbbg_item{ width:100%; }
}


/* Header (1)
================================================== */
.tally_header_1{ background-color:#FFF; box-shadow: 0 2px 3px 0 rgba(31,31,31,.08); position: relative;  }
.tally_header_1 .th_branding{ margin-bottom:10px; margin-top: 10px; }
.tally_header_1 .th_logo{ float: left; }
.tally_header_1 .th_logo h1{ font-size: 20px;  margin-bottom: 0;  line-height: 30px;  text-transform: uppercase;  font-weight: bold; margin-top: 13px; }
.tally_header_1 .th_logo h1 a{ color: inherit; }
.tally_header_1 .th_logo h1 a:hover{ text-decoration: none; }
.tally_header_1 .th_logo span{ color:#9E9E9E; }
.tally_header_1 .th_element{ padding: 0 20px; position: relative; display: inline-block; border-top: none; vertical-align: top; }
.tally_header_1 .th_iconbox{ margin-top:15px; }
.tally_header_1 .th_iconbox .fa { 
	transition: all 150ms ease-out;
	float: left;
	font-size: 30px;
	margin-right: 10px;
	background-color: #e9edf1;
	height: 42px;
	width: 42px;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	margin-top: 3px;
}
.tally_header_1 .th_iconbox_text{ float: left; }
.tally_header_1 .th_iconbox_text p{ margin: 5px 0 2px 0;  font-size: 13px;  font-weight: bold;  color: #676b6f; }
.tally_header_1 .th_iconbox_text span{ color: #a6acb3;  font-size: 12px; }
.tally_header_1 .th_social{ margin-top:21px; }
.tally_header_1 .th_social a{   
	margin: 0 2px;
	display: inline-block;
	font-size: 20px;
	background-color: #ebebed;
	color: #9ba7b2;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	height: 40px;
	width: 40px;
	padding-top: 2px;
	transition: all 150ms ease-out; 
}
.tally_header_1 .th_social a:hover{ opacity: 0.7; }
.tally_header_1 .th_phone{ margin-top:20px; }
.tally_header_1 .th_phone a{
	display:inline-block;
	font-size: 12px;
	transition: all 150ms ease-out;
	padding: 0 20px;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	text-align: center;
    color: #fff;
	background-color: #fd7062;
	border-color: #fd7062;
    font-weight: bold;
    vertical-align: middle;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tally_header_1 .th_phone a .fa{ font-size: 20px;  vertical-align: middle;  margin-right: 5px; }
.tally_header_1 .th_phone a:hover{ text-decoration:none; opacity: 0.7; }


/*~~~~~~~~~~~Menu~~~~~~~~~~~*/
.tally_header_1 .main_menu{ border-top:solid 1px rgba(31,31,31,.08); text-align:center; }
.tally_header_1 .main_menu ul{ margin:0; padding:0; list-style-type:none; }
.tally_header_1 .main_menu ul li{ margin:0; padding:0; float:none; display:inline-block; position:relative; }
.tally_header_1 .main_menu ul li a{ display:block; padding:14px 14px; text-decoration:none; font-size:14px; margin-left:10px; color:#676b6f; }
.tally_header_1 .main_menu ul li.menu-item-has-children > a:after{ content:"\f107"; font-family: 'FontAwesome'; margin-left:3px; }
.tally_header_1 .main_menu > ul > li:first-child a{ padding-left:3px; }
		
/*1st level dropdown an all level dropdown style*/
.tally_header_1 .main_menu ul li ul{ position:absolute; left:5px; z-index:99; display:none; width:180px; background-color: #FCFCFC; border:solid 1px #E9EDF1; }
.tally_header_1 .main_menu ul li ul li{ float:none; width:100%; text-align:left; }
.tally_header_1 .main_menu ul li ul li a{ 
	display:block;
	border:none;
	padding:8px 15px;
	text-decoration:none;
	font-size:12px;
	font-weight:400;
	text-transform:capitalize;
	margin-left:0;
	border-radius: 0px;
	border-bottom:solid 1px #E9EDF1;
}
	
.tally_header_1 .main_menu div ul li ul li a:hover{ text-decoration:none; background-color: #E9EDF1; }
.tally_header_1 .main_menu div ul li ul li ul{ position:absolute; left:180px; top:-1px; }
	
.tally_header_1 .main_menu div ul > li:hover > ul{display:block;}


@media only screen and (max-width: 1190px){
	.tally_header_1 .th_logo{ float: none; text-align: center; }
    .tally_header_1 .th_elements{ text-align: center; margin-top:5px; clear:both; }
    .tally_header_1 .th_iconbox { text-align: left; }
}
@media only screen and (max-width: 910px) {
	.tally_header_1 .th_logo{ float: none; text-align: left; }
	a.responsive-menu-hand{ display: block; }
    .responsive-menu{ top:65px; }
    .tally_header_1 .main_menu{ display: none; }
    .tally_header_1 .th_elements{ text-align: center; margin-top:5px; clear:both; }
    .tally_header_1 .th_element{ padding:0; width:100%; border-top:solid 1px #E9EDF1; margin:0; padding-top: 10px; padding-bottom: 10px; }
    .tally_header_1 .th_element.th_social{ padding-top: 15px; padding-bottom: 15px; }
    .tally_header_1 .th_iconbox { text-align: left; display: inline-block; min-width: 220px; max-width: 100%; margin:0; }
}.tally_subHeader_1{ background-color: #28c3d4; color: #ffffff; padding: 32px 0; }
.tally_subHeader_1 .tsh_title_area{ display: inline-block; max-width: 40%; }
.tally_subHeader_1 .tsh_title{ font-size: 26px; color: #ffffff; line-height: 48px; font-weight: bold;   margin: 0; }
.tally_subHeader_1 .tsh_subtitle{ margin: 0; font-size: 12px; text-transform: uppercase; letter-spacing: 5px; }
.tally_subHeader_1 .tsh_breadcrumbs{ display: inline-block; float: right; margin-top: 15px; max-width: 40%; }
.tally_subHeader_1 .tsh_breadcrumbs a{ color: #ffffff; }

@media only screen and (max-width: 910px) {
	.tally_subHeader_1 .tsh_title_area{ max-width: 100%; width: 100%; text-align: center; }
    .tally_subHeader_1 .tsh_breadcrumbs{ float: none; max-width: 100%; width: 100%; text-align: center; }
}.tally-footerWidgets{ padding-top: 50px; padding-bottom: 50px; background-color: #363839; color: #bcbec0; }.tally_footer { padding-top: 20px; padding-bottom: 7px; }
.tally_footer .footer_menu{ float: right; }
.tally_footer .footer_menu ul{ margin: 0; padding: 0; }
.tally_footer .footer_menu li{ margin: 0; padding: 0; display: inline-block; }
.tally_footer .footer_menu li a{ padding-left: 10px; }
.tally_footer .footer_menu li a:hover{ text-decoration:none; }
.tally_footer .footer_menu li ul{ display: none; }

@media only screen and (max-width: 768px) {	
	.tally_footer{ text-align: center; }
    .tally_footer .footer_menu { float: none; }
    .tally_footer .col-holder .col_6.col{ margin-bottom: 0 !important; }
}.tally_loop_404{ text-align: center; }
.tally_loop_404 #searchform{ margin-top: 40px; } 
.tally_loop_404 #searchform #s{ width: auto; padding: 0; height: 40px; }
.tally_loop_404 #searchform #searchsubmit{ width: 70px; padding: 0; height: 40px; }.tally_loop_attachment .tla_image img{ box-shadow: 0 0px 7px 0 rgba(31, 31, 31, 0.13); padding: 10px; border-radius: 4px; }
.tally_loop_attachment .tla_title{ margin-top: 20px; font-size: 24px; margin-bottom: 10px; }
.tally_loop_attachment .tla_des{ padding-bottom: 20px; border-bottom: solid 1px; margin-bottom: 20px; }.tally_loop_author .tla_info{ background-color: #F9F9F9; padding: 25px 25px; border-bottom: solid 5px; }
.tally_loop_author .tla_author_title{ font-size: 28px; line-height: 35px; margin-bottom: 10px; font-weight: bold; }
.tally_loop_author .tla_author_avatar{ float: left; margin-right: 25px; }
.tally_loop_author .tla_author_avatar img{ border-radius: 4px; }
.tally_loop_author .tla_author_des{ overflow: hidden; }

.tally_loop_author .tla_posts{ margin-top: 50px; }
.tally_loop_author .tla_posts_heading{
	display: block;
	border-bottom: solid 1px #353535 !important;
	margin-bottom: 30px;
	padding-bottom: 2px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}
.tally_loop_author .tla_post_item{ margin-bottom: 30px; padding-bottom: 30px; border-bottom: dotted 1px }
.tally_loop_author .tla_post_item .tla_post_image{ float: left; }
.tally_loop_author .tla_post_item .tla_post_image img{ margin-right: 24px; border-radius: 4px; }
.tally_loop_author .tla_post_item .tla_post_title{ font-size: 24px; line-height: 1.1; }
.tally_loop_author .tla_post_item .tla_post_title a{ color: inherit !important; }
.tally_loop_author .tla_post_item .tla_post_content{ overflow: hidden; }
.tally_loop_author .tla_post_item .tla_post_meta{  }
.tally_loop_author .tla_post_item .tla_post_more{ margin-top:20px; display:inline-block; background-color:#fd7062; color:#fff !important; padding:5px 10px; border-radius:5px; }
.tally_loop_author .tla_post_item .tla_post_more:hover{ text-decoration: none; }/* Wordpress Comments
================================================== */
	#comments{ margin-top:40px; }
	.comment-respond,
	.entry-comments,
	.entry-pings {margin-top: 40px;	}
	.entry-comments {padding: 40px;}
	.comment-respond,
	.entry-pings {}
	.comment-respond a,
	.entry-comments a {}
	.comment-content {clear: both;}
	.entry-comments .comment-author {margin-bottom: 0;}
	
	.comment-respond .comment-form-author{ width:31.3333%; margin-right:3%; float:left; clear:left; }
	.comment-respond .comment-form-email{  width:31.3333%; margin-right:3%; float:left; }
	.comment-respond .comment-form-url{  width:31.3333%; float:left; clear:right; }
	.comment-respond input[type="email"],
	.comment-respond input[type="text"],
	.comment-respond input[type="url"] {width: 100% !important; }
	.comment-respond textarea{ width:100% !important; }
	.comment-respond label {display: block;margin-right: 12px;}
	
	.comment-list{ margin-left:0; overflow:hidden; }
	.comment-list li,
	.ping-list li {list-style-type: none;}
	.comment-list li {margin-top: 24px;padding: 32px;}
	.comment-list>li:first-child{ margin-top:0; }
	.comment-list li li {margin-right: -32px;margin-right: -3.2rem;}
	li.comment {background-color: #f5f5f5;border: 1px dashed;border-right: none;}
	.comment .avatar {margin: 0 16px 24px 0; float:left; }
	.entry-pings .reply {display: none;}
	.bypostauthor {}	
	.form-allowed-tags {background-color: #f5f5f5;font-size: 14px;padding: 24px;margin-bottom:30px;}
	
	.tally_loop_post{ padding-bottom: 40px; margin-bottom: 40px; border-bottom: solid 3px; }
.tally_loop_post:last-child{ padding-bottom: 40px; margin-bottom: 0px; border-bottom: solid 0px; }
.tally_loop_post .tlp_header h4{ font-size: 28px; }
.tally_loop_post .tlp_header h4 a{ color: initial !important; }
.tally_loop_post .tlp_header h4 a:hover{ text-decoration: none; }
.tally_loop_post .tlp_header p{ font-style: italic; color:#bcbcbc; }
.tally_loop_post .tlp_header p a{ color: #999999 !important; }
.tally_loop_post .tlp_header img{ border-radius: 4px; margin-bottom: 20px; }
.tally_loop_post .tlp_content{ margin-bottom: 20px; }
.tally_loop_post .tlp_more{ 
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff !important;
	text-decoration: none;
	display: inline-block;
	background-color: #fd7062;
	padding: 0 20px;
	border-radius: 5px;
}.tally_loop_single .tls_meta{ margin-bottom: 30px; background-color: #F9F9F9; padding: 7px 11px 5px 11px; border: solid 1px; }

.tally_loop_single .tls_content{ margin-bottom: 40px; }

.tally_loop_single .tls_taxonomy{ background-color: #F9F9F9; padding: 25px 25px; margin-bottom: 40px; border: solid 1px; }
.tally_loop_single .tls_taxonomy a{
	display: inline-block;
	padding: 3px 5px;
	border: solid 1px;
	border-radius: 5px;
	font-size: 12px;
	color: inherit !important;
}
.tally_loop_single .tls_taxonomy strong{ display: inline-block; width: 90px; }
.tally_loop_single .tls_taxonomy a:hover{ background-color: #fd7062; color: #ffffff !important; text-decoration: none; border: solid 1px #ffffff !important; }

.tally_loop_single .tls_authorBio{ background-color: #F9F9F9; padding: 25px 25px; border-bottom: solid 5px; margin-bottom: 40px; }
.tally_loop_single .tls_authorBio_title{ font-size: 28px; line-height: 35px; margin-bottom: 10px; font-weight: bold; }
.tally_loop_single .tls_authorBio_avatar{ float: left; margin-right: 25px; }
.tally_loop_single .tls_authorBio_avatar img{ border-radius: 4px; }
.tally_loop_single .tls_authorBio_des{ overflow: hidden; }.tally_home_infoBox .col-holder .col.col_3{  margin-left: 0; width: 25%; margin-bottom: 0; }
@media only screen and (max-width: 768px) {	
	.tally_home_infoBox .col-holder .col.col_3{ width: 50%; }
}
@media only screen and (max-width: 600px) {	
	.tally_home_infoBox .col-holder .col.col_3{ width: 100%; }
}

.tally_home_parallax .tally_homeBlock_text.thbt_skin1 .thbt_des{ font-size: 145%; }
.gallery-caption{ padding-top: 10px; }



/*******Cutome CSS Starts Here************/
.tally_header_1 .th_logo img {
    width: 180px;
}
body #wrapper {
    position: relative;
    overflow: hidden;
}
.tally_header_1 .th_phone a {
    background-color: #CA1C25 !important;
    border-color: #CA1C25 !important;
}
.tally_header_1 .th_social a:hover {
    background-color: #CA1C25 !important;
    opacity: 1 !important;
}
.tally_header_1 .main_menu ul li a:hover {
    color: #CA1C25 !important;
}
